// file for header styling

.header {
    z-index: 2; 

    // Hamburger Open Style
    &.open {

        .header__toggle {        
            > span:first-child {
                transform: rotate(45deg);       // animation for top line
                transform-origin: 3px 1px;
            }

            > span:nth-child(2) {
                opacity: 0; // have to use opacity because it can use transition display none can not
            }

            > span:last-child {
                transform: rotate(-45deg);
                transform-origin: 3px 1px;  // animation for bottom line
            }
        }
    }

    .overlay {
        opacity: 0;
        position: fixed;
        top: 3.625rem;                                               // remember to use visibility hidden and 
        bottom: 0px;
        right: 0px;
        left: 0px;
        background-image: linear-gradient($darkBlue, transparent);
    }

    nav {
        position: relative;     // used to make it not look wonky on the opened menu
        background-color: $white;     // have to color background to be able to see when menu is opened and scrolling as well
        padding-top: 1.065rem;                                  // spaces out everything in the navigation bar
        padding-bottom: 1.065rem;                                  // spaces out everything in the navigation bar
    }

    &__logo {                                           // logo appearance easybank

        img{
            width: 8.8125rem;
            height: 1.375rem;
        }
    }

    &__toggle {                                           // mobile menu

        >span{
            display: block;
            width: 26px;
            height: 2px;                                // creates the menu hamburger
            background-color: $darkBlue;
            transition: all 300ms ease-in-out;

            &:not(:last-child) {
                margin-bottom: 5px;                     // spaces them out for appeal
            }
        }

        &.open {

            > span:first-child {
                transform: rotate(45deg);       // animation for top line
                transform-origin: 3px 1px;
            }

            > span:nth-child(2) {
                opacity: 0; // have to use opacity because it can use transition display none can not
            }

            > span:last-child {
                transform: rotate(-45deg);
                transform-origin: 3px 1px;  // animation for bottom line
            }
        }
    }

    &__menu {
        position: absolute;
        width: calc(100% - 6rem);
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        margin-top: 1.5rem;
        padding: 1.625rem;
        border-radius: 5px;

        a {
            display: block;
            text-align: center;
            color: $darkBlue;
            padding: 0.625rem;
        }
    }

    &__links {                                          // for desktop/tablet menu
        a {
            position: relative;
            font-size: $font-sm;
            color: $grayishBlue;
            transition: color 300ms ease-in-out;        // pseudo for a only on desktop
            
            &:not(:last-child) {
                margin-right: 32px;
            }
            
            &::before { 
                content: "";
                display: block;
                height: 5px;
                position: absolute;                     
                left: 0;
                right: 0;
                bottom: -30px;                          // this was for the hover function of the navbar 
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                opacity: 0;                             // so it wont show until you hover
                transition: opacity 300ms ease-in-out;  // animation transitioning colors
            }

            &:hover {
                color: $darkBlue;                       

                &::before {                                 
                    opacity: 1;                         // appears after hovering over links
                }
            }
        }

        

        
    }
}