.hero {
    background-color: $veryLightGray;
    .container {

        @include breakpoint-up(large) {    
            display: flex;
            align-items: center;
        }
    }

    &__image {
        position: relative;                                     // when using position absolute make sure to make the parent 
        background-image: url('/images/bg-intro-mobile.svg');   // if there is one relative so it wont cover more than the image
        background-size: cover;                                 // its on top of
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;

        @include breakpoint-up(medium) {
            min-height: 25rem;
            background-position: center 60%;
        }

        @include breakpoint-up(large) {      
            flex: 3;
            order: 2;
            min-height: 41rem;
            background-image: none;
            // background-image: url('/images/bg-intro-desktop.svg');
            // background-position: left center;

        }
        
        &::before {

            

            @include breakpoint-up(large) {
                content: "";
                position: absolute;     // show above other image        
                height: 100%;
                background-image: url('/images/bg-intro-desktop.svg');                                   // instead of cover which can fit nicely on entire screen use % for accuracy
                background-repeat: no-repeat;   
                background-position: center center;
                width: 150%;
                background-size: 120%;
                background-position: 0% 85%;
            }
        }

        &::after {
            content: "";
            position: absolute;     // show above other image        
            width: 100%;
            height: 100%;
            background-image: url('/images/image-mockups.png');
            background-size: 92%;                                   // instead of cover which can fit nicely on entire screen use % for accuracy
            background-repeat: no-repeat;   
            background-position: center bottom;                      // center: horizontally, bottom: vertically
            
            @include breakpoint-up(medium) {
                background-size: 52%;
            }
            
                        @include breakpoint-up(large) {
                width: 120%;
                height: 120%;
                background-size: 94%;                                   // instead of cover which can fit nicely on entire screen use % for accuracy
                background-repeat: no-repeat;   
                background-position: center 130%;                      // center: horizontally, bottom: vertically
                left: 22%;
            }
        }
    }

    &__text {
        text-align: center;

        @include breakpoint-up(large) {      
            flex: 2;
            order: 1;
            text-align: left;

            

            p {
                font-size: $font-lg;
            }
        }

        h1 {
            font-size: 2.3125rem;
            font-weight: 300;
            line-height: 1.15;
            color: $darkBlue;          
            margin-bottom: 1.5rem;                  // margin for spacing under the h1 tag for hero
        
            @include breakpoint-up(large) {

                h1 {
                    font-size: $font-xlg;
                }
            }
        }

        p {
            line-height: 1.5;
            margin-bottom: 2.25rem;

            @include breakpoint-up(large) {

                p {
                    font-size: $font-lg;
                }
            }
        }
    }
}